<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Client</title>
    <link rel="stylesheet" href="./css/client.style.css">
</head>
<body>
    
    <script src="http://127.0.0.1:3000/socket.io/socket.io.js"></script>
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="./js/client.js"></script>
</body>
</html>